<!-- snippets/collection-grid-item.liquid -->

{% include 'grid-calculator' %}

<div class="column {{ col_class }} bleed">

  <div class="coll-image-wrap">
    <a href="{{ collection.url }}">
      {% if collection.image %}
      <img src="{{ collection.image.src | collection_img_url: 'large' }}" alt="{{ collection.image.alt | escape }}" />
      {% else %}
      <img src="{{ collection.products.first.featured_image.src | product_img_url: 'large' }}" alt="{{ collection.title | escape }}" />
      {% endif %}
    </a>
  </div><!-- .coll-image-wrap -->
  
  <a class="coll-caption" href="{{ collection.url }}">
    <div class="coll-title">
      {{ collection.title }}
    </div>
    {% if collection.all_products_count > 0 %}
      <div class="coll-item-count">
        {{ 'collections.general.product_count' | t: count: collection.all_products_count }}
      </div>
    {% endif %}
  </a><!-- .coll-caption -->
  
</div>

<!-- END snippets/collection-grid-item.liquid -->