<!-- snippets/home-tile-item.liquid -->

<div class="column half no-pad">
    <div class="rte">{{ page_second.content }}</div>

    {% include 'linklist-image-finder' %}

       <div class="grid-image">
         <a href="{{ link.url }}" title="{{ link.title }}" >
           {% if have_image %}
             <img src="{{ src }}" alt="{{ link.title | escape }}" />
           {% else %}
             <img src="{{ link.title | handle | append: '_' | append: image_size | append: '.png' | file_url }}" alt="{{ link.title | escape }}" />
           {% endif %}
         </a>
       </div>
       <div class="grid-footer">
         <a href="{{ link.url }}" title="{{ link.title }}" >
          <span class="prod-price uppercase">
            {{ link.title }}  
          </span>
        <p class="gutter">
       {% assign linked_page = link.object %}  
        {% comment %}
          First, check if the link is to the blog.
        {% endcomment %}
          {% if link.type == 'blog_link' %}  
             {% for article in blogs.news.articles limit: 1 %}

                {% assign linked_page = article %}

            {% endfor %}
        {% endif %}  
        {{ linked_page.content | strip_html | truncate: 150 }}
        </p>
        <p class="read-more">read more</p>
         </a>
       </div>       


</div>

<!-- END snippets/home-tile-item.liquid -->