<!-- snippets/product-grid-item.liquid -->

{% include 'grid-calculator' %}

<div class="prod-block column {{ col_class }} bleed{% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}">

  <div class="prod-image-wrap">
    <a href="{{ product.url | within: collection }}">
      <span class="helper"></span><img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" />
      <div class="title">
        {{ product.title }}
      </div>
    </a>
  </div><!-- .prod-image-wrap -->
  
  <div class="prod-caption">
    <a href="{{ product.url | within: collection }}">
      <div class="description">
        {{ product.description }}
      </div>    
      <span class="prod-price">
        {% if product.price_varies %}{{ 'products.listing.from' | t }}{% endif %}
        {{ product.price | money }}
        {% if on_sale %}
        <s class="compare-at-price">{{ product.compare_at_price | money }}</s>
        {% endif %}
      </span>
      
      {% for tag in product.tags %}
      {% if tag contains 'meta-label-' %}
      <span class="tag">{{ tag | remove: 'meta-label-' }}</span>
      {% endif %}
      {% endfor %}
      
      {% comment %}
      Supporting the Grapevine Reviews app out of the box.
      https://apps.shopify.com/grapevine-reviews
      
      Remove comment tags around the span below.
      {% endcomment %}
      
      {% comment %}
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% endcomment %}
    </a>
  </div><!-- .prod-caption -->
  
</div>

<!-- END snippets/product-grid-item.liquid -->