<!-- snippets/product-list-item.liquid -->

{% include 'grid-calculator' %}

<div class="prod-block prod-list column {{ col_class }} {% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}">

  <div class="prod-image-wrap">
    <a href="{{ product.url | within: collection }}"><img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" /></a>
  </div><!-- .prod-image-wrap -->

  <div class="grid-footer smaller">
    <a href="{{ product.url | within: collection }}" title="{{ product.title | within: collection }}">
     <span class="gutter">
        <h4 class="product-title left uppercase bold">{{ product.title }}</h4>
          {{ product.description | strip_html | truncate: 150 }}
      </span>
     <span class="gutter">
        <p class="read-more">read more</p>
      </span>
    </a>
  </div>    
  
  {% if template == 'index' %}
  {% else %}  
  <div class="prod-caption">
      {% for tag in product.tags %}
      {% if tag contains 'meta-label-' %}
      <span class="tag">{{ tag | remove: 'meta-label-' }}</span>
      {% endif %}
      {% endfor %}
      
      {% comment %}
      Supporting the Grapevine Reviews app out of the box.
      https://apps.shopify.com/grapevine-reviews
      
      Remove comment tags around the span below.
      {% endcomment %}
      
      {% comment %}
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% endcomment %}
    </a>
  </div><!-- .prod-caption -->
  {% endif %}
  
</div>

<!-- END snippets/product-list-item.liquid -->